body {
  background-color: #efefef;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 10px 0;
  padding: 0;
}

.container {
  width: 920px;
  margin: 0 auto;
}

.header-title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.logo {
  font-size: 40px;
  font-family: "arial narrow";
  height: 60px;
  display: flex;
  align-items: center;
}

.text-sub {
  color: #777;
}

.header-tagu {
  width: 100%;
  background-color: #333;
  padding: 15px 0;
  margin: 0;
}

.header-tagu:after {
  clear: both;
  display: block;
  content: " ";
}

.header-tagu li {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.header-tagu li a  {
  color: #ffffff;
  text-decoration: none;
}

.blogphoto1 {
  float: left;
  width: 160px;
  height: 160px;
}

.blog {
  margin: 35px 0 35px 30px;
}

.hiduke1 {
  display: block;
  margin: 0 0 0 170px;
}
.hiduke1:after {
  float: left;
  margin: 0 0 0px 8px;
}

.details {
  float:left;
  text-decoration: none;
  font-size: 20px;
  display: block;
  width: 450px;
}

.overview {
  font-size: 14px;
  display: inline-block;
  width: 450px;
}

.blogphoto2 {
  float: left;
  display: block;
  width: 160px;
  height: 160px;
  margin: 40px 0 0 0;
}

.hiduke2 {
  display: inline-block;
  margin: 40px 0 0 8px;
}